# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

command_timeout = 1000

[c]
# Disable the module, hiding it from the prompt completely
disabled = true

[cmake]
disabled = true

[package]
style = 'bold #ff9966'

[ruby]
disabled = true

[git_status]
disabled = true

[custom.prop-prefix]
command = 'git config --local --get branch.$(git branch --show-current).prefix'
when = 'git config --local --get branch.$(git branch --show-current).prefix'
format = '󰁔 [ $output]($style):'
ignore_timeout = true

[custom.prop-target]
command = 'git config --local --get branch.$(git branch --show-current).target'
when = 'git config --local --get branch.$(git branch --show-current).target'
format = '[$output]($style) '
ignore_timeout = true

